@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #daa520;
}

ul,
li,
.li::marker {
  list-style: none;
}

.div.App{
  background: #000;
  color: #daa520;
}

h1, 
h2,
h3,
h4,
p {
color: #daa520;
}

h1 {
  padding: 25px 10px;
}

h4 {
  padding: 10px 0px 0px 0px;
}

.div.event{
  padding: 15px 5px;
}

.App-link {
  color: #61dafb;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #000;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.input.events_number__input my-3 {
  padding: 8px 6px 8px 10px;
}

.events_number__input {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.EventList{
  marker: none;
}

#button {
  display: inline-block;
  background-color: #daa520;
  color: #000;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0% 5%;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

.recharts-surface {
  overflow: visible;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }

  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}